body{
    text-align: center;
    background-color: azure;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.red{
    background-color: #d95980;
}
.blue{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.flash{
    background-color: whitesmoke;
}
@media (max-width: 600px) {
    .btn{
        height: 100px;
        width: 100px;
        margin: 1rem;
    }
}
@media (max-width: 291px) {
    .btn{
        height: 60px;
        width: 60px;
        margin: 0.5rem;
    }
}
